{% extends "test.html" %}
{% block main %}
		<h3> The Wolf's Lair: Please Choose an option </h3>
		<a href="/buy"><button type = "button" > Buy </button></a>	
		<a href="/sell"><button type = "button" > Sell </button></a>
		<a href="/lookup"><button type = "button" > Lookup Company </button></a>
		<a href="/quote"><button type = "button" > Get a Quote </button></a>
		<a href="/portfolio"><button type = "button" > See Portfolio </button></a>
		<a href="/pl"><button type = "button" > See Current P and L </button></a>
{% endblock main %}